{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h2>Яндекс Метрика</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr align="center">
            <th>Дата</th>
            <th>Визиты</th>
            <th>Посетители</th>
            <th>Просмотры</th>
            <th>Доля новых посетителей</th>
            <th>Отказы</th>
            <th>Глубина просмотра</th>
            <th>Время на сайте</th>
        </tr>
        </thead>
        <tbody>
        {% for metrics in metricsPeriod %}
        <tr align="center">
            <td>{{ metrics.date }}</td>
            {% for value in metrics.metrics %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
